.sidebar {
    position: fixed;
    z-index: 990;
    left: 0;
    height: 100vh;
}

.main {
    background-color: var(--main-color);
}

.shadow-overlay {
    &:not(.sidebar) {
        filter: brightness(60%);
        pointer-events: none;
        overflow: hidden;
    }
}
