.category-list {
    display: flex;
    flex-direction: column;
    min-width: 19.5rem;
    background-color: var(--main-color);
    margin: 0;
    border-bottom-right-radius: 0.75rem;
    padding: 0;
    width: 100%;
}

.category-name {
    display: flex;
    padding: 1rem 1.75rem;
    font-weight: 500;
}

.category-name:last-child {
    border-bottom-right-radius: 0.75rem;
}

.category-name:hover {
    background-color: var(--neutral-color);
}
