.heading {
    display: flex;
    flex-direction: row;
    font-size: 24px;
    font-weight: 800;
    line-height: 30px;
    letter-spacing: 0.96px;
}

.heading::before,
.heading::after {
    content: "";
    flex: 1 1;
    border-bottom: 1px solid;
    margin: auto;
}

.heading::before {
    margin-right: 1.25rem
}

.heading::after {
    margin-left: 1.25rem;
}